.contact-button {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.contact-icon {
  margin-right: 8px;
  border: 1px solid #526070;
  border-radius: 24px;
  width: 34px;
  height: 34px;
  padding: 5px;
}

.contact-inner {
  display: flex;
  flex-direction: column;
}

.text-number {
  font-size: 14px;
  font-weight: bold;
  color: #1c1b1f
}


.text-info {
  font-size: 12px;
  color: #526070;
}
