.contact-button {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 24px;
    cursor: pointer;
  }
  
  .contact-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .contact-inner {
    display: flex;
    flex-direction: column;
  }
  
  .text-info {
    font-size: 14px;
    font-weight: bold;
  }
  
  .text-number {
    font-size: 12px;
    color: #888888;
  }
  