.tarif-inner{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    border-radius: 24px;
    background-color: #f1f2f4;
    padding: 24px 16px;
}



.tarif-text{
    color: #1c1b1f;
    font-weight: 700;
    text-align: left;
    font-size: 48px;
    line-height: 60px;
}