.header {   
  position: fixed;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  box-shadow: 0 4px 8px rgba(42,70,94,.04);
  background-color: #fff;
}



.header-inner-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right > * {
  margin-left: 20px;
}
