.footer{
    border-top: 0.5px solid #e8e8e8;
    box-shadow: 0 -4px 8px rgba(42,70,94,.04);
    margin-top: 80px;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
}

.footer-logo{
    margin-bottom: 24px;
}

.footer-jana-post-logo{
    margin: 30px 0;
}

.footer-navbar{
    display: flex;
    align-items: start;
    margin-bottom: 17px;
}

.footer-number{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1c1b1f;
}


.android-phone-logo{
    margin-right: 30px;
}

.whatsapp-button{
    align-items: center;
    display: flex;
    /* margin: 10px 30px 0; */
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 100px;
    padding: 4px 12px 4px 4px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1c1b1f;
}

.whatsapp-logo{
    margin-right: 5px;
}

.mail-logo{
    margin-right: 10px;
    margin-bottom: 10px;
}

.location-logo{
    margin-right: 10px;
}

.location-text-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1c1b1f;
}

.location-text-city{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #526070;
}

.maps{
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 100px;
    padding: 4px 12px 4px 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1c1b1f;
    margin-right: 8px;
}

.maps-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1c1b1f;
}

.location-text-maps{
    display: flex;
    margin-top: 8px;
}


.maps-text{
    margin-left: 8px;
}

.location-map{
    background-color: white;
    border-radius: 24px;
    border: 1px solid #e9e9e9;
}


/* platforms */

  
  .platform-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
  }
  
  .app-logo {
    width: 20px;
    height: 20px;
  }
  
  .app-text {
    margin-left: 10px;
    color: #1b8918;
  }
  
  .app-text .app-text-title {
    font-size: 14px;
    font-weight: bold;
  }
  
  .app-text .app-text-paragraph {
    font-size: 12px;
    color: #1b8918;  
}

.footer-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
}

.footer-list li{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1c1b1f;
    list-style: none;
    margin-bottom: 16px;
}

.footer-list{
    margin-left: 100px;
}

.right-footer{
    position: relative;
}

.platforms{
    display: grid;
}
.jana-app-platform{
    justify-self: end;
}
.coorporation{
    justify-self: end;
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
    color: #526070;
}

.coorporation{
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #526070;
}

.contact{
    display: flex;
    align-items: start;
    margin-bottom: 17px;
}

.mail{
    display: flex;
    margin-bottom: 17px;
}

.mail-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1c1b1f;
}

.location{
    display: flex;
}   

.footer-img{
    width: 40px;
}

.contact-text-number{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1c1b1f;
    cursor: pointer;
}

.contact-text-whatsapp{
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 100px;
    padding: 4px 12px 4px 4px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1c1b1f;
    width: 174px;
}

.contact-text-whatsapp-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1c1b1f;
    margin-left: 6px;
}