.login-button {
  background: #f1f2f4;
  border: 0.5px solid #e8e8e8;
  border-radius: 24px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 4px 10px 4px 4px;
}

.icon {
  margin-left: 4px;
}