body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.filial-container{
    max-width: 600px;
     margin: auto;
}

.filial-locations::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.filial-locations{
  display: flex;
  flex-direction: row;
  cursor: pointer;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none ;

}

.filial-locations div > div {
  margin-left: 20px;
}

